body {
    display: block;
}

form {
    width: 50%;
}

table {
    width: 50%;
}

input {
    width: 75%;
}

.left-panel {
    width: 40%;
}

.right-panel {
    width: 100%;
}

.table-list li span.unlimited {
    color: #FFF;
    background: #e95846;
    font-size: 0.9em;
    padding: 5px 7px;
    display: inline-block;
    -webkit-border-radius: 38px;
    -moz-border-radius: 38px;
    border-radius: 38px;
}